<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Alumnos</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="appAcademica" id="appAcademica">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">::.ACADEMICA.::</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="alumnos.html">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="materias.html">Materias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="inscribir.html">Inscripciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="card text-white" id="carCliente">
                <div class="card-header bg-primary">
                    Registro de Alumnos

                    <button type="button" class="btn-close text-end" data-bs-dismiss="alert" data-bs-target="#carCliente" aria-label="Close"></button>
                </div>
                <div class="card-body text-dark">
                    <form method="post" @submit.prevent="guardarAlumno" @reset="nuevoAlumno">
                        <div class="row p-1">
                            <div class="col col-md-2">Codigo:</div>
                            <div class="col col-md-2">
                                <input title="Ingrese el codigo" v-model="alumno.codigo" pattern="[0-9]{3,10}" required type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col col-md-2">Nombre:</div>
                            <div class="col col-md-3">
                                <input title="Ingrese el nombre" v-model="alumno.nombre" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col col-md-2">Fecha de Nacimiento:</div>
                            <div class="col col-md-2">
                                <input title="Ingrese la fecha de nacimiento" v-model="alumno.fechaNacimiento" required type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col col-md-2">Direccion:</div>
                            <div class="col col-md-3">
                                <input title="Ingrese la direccion" v-model="alumno.direccion" pattern="[0-9#.A-Za-zñÑáéíóúü ]{3,100}" required type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col col-md-2">Telefono:</div>
                            <div class="col col-md-2">
                                <input title="Ingrese el tel" v-model="alumno.telefono" pattern="[0-9]{4}-[0-9]{4}" required type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col col-md-2">DUI:</div>
                            <div class="col col-md-2">
                                <input title="Ingrese el DUI" v-model="alumno.dui" pattern="[0-9]{8}-[0-9]{1}" required type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col col-md-5 text-center">
                                <div v-if="alumno.mostrar_msg" class="alert alert-primary alert-dismissible fade show" role="alert">
                                    {{ alumno.msg }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col col-md-5 text-center">
                                <input class="btn btn-success" type="submit" value="Guardar">
                                <input class="btn btn-warning" type="reset" value="Nuevo">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card text-white" id="carBuscarCliente">
                <div class="card-header bg-primary">
                    Busqueda de Alumnos

                    <button type="button" class="btn-close" data-bs-dismiss="alert" data-bs-target="#carBuscarCliente" aria-label="Close"></button>
                </div>
                <div class="card-body">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th colspan="7">
                                    Buscar: <input @keyup="buscandoAlumno" v-model="buscar" placeholder="buscar aqui" class="form-control" type="text" >
                                </th>
                            </tr>
                            <tr>
                                <th>CODIGO</th>
                                <th>NOMBRE</th>
                                <th>FECHA DE NACIMIENTO</th>
                                <th>DIRECCION</th>
                                <th>TEL</th>
                                <th>DUI</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in alumnos" @click='modificarAlumno( item )' :key="item.idAlumno">
                                <td>{{item.codigo}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.fechaNacimiento}}</td>
                                <td>{{item.direccion}}</td>
                                <td>{{item.telefono}}</td>
                                <td>{{item.dui}}</td>
                                <td>
                                    <button class="btn btn-danger" @click="eliminarAlumno(item)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const db_sistema = openDatabase('db_sistema', '1.0', 'Sistema', 5 * 1024 * 1024);
        if( !db_sistema ){
            alert('Lo siento, el navagador no soporta BD offline');
        }
        var app = new Vue({
            el: '#appAcademica',
            data:{
                buscar:'',
                alumnos:[],
                alumno:{
                    accion : 'nuevo',
                    mostrar_msg : false,
                    msg : '',
                    codigo: '',
                    nombre: '',
                    fechaNacimiento: '',
                    direccion: '',
                    telefono: '',
                    dui: ''
                }
            },
            methods:{
                buscandoAlumno(){
                    this.obtenerAlumnos(this.buscar);
                },
                eliminarAlumno(alumno){
                    if( confirm(`Esta seguro de eliminar el alumno ${alumno.nombre}?`) ){
                        this.alumno.idAlumno = alumno.idAlumno;
                        this.alumno.accion = 'eliminar';
                        this.guardarAlumno();
                    }
                },
                modificarAlumno(datos){
                    this.alumno = JSON.parse(JSON.stringify(datos));
                    this.alumno.accion = 'modificar';
                },
                guardarAlumno(){
                    let sql = '',
                        parametros = [];
                    if(this.alumno.accion=="nuevo"){
                        sql = 'INSERT INTO alumnos (codigo, nombre, fechaNacimiento, direccion, telefono, dui) VALUES (?,?,?,?,?,?)';
                        parametros = [this.alumno.codigo, this.alumno.nombre, this.alumno.fechaNacimiento, this.alumno.direccion, 
                            this.alumno.telefono, this.alumno.dui];
                    } else if(this.alumno.accion=="modificar"){
                        sql = 'UPDATE alumnos SET codigo=?, nombre=?, fechaNacimiento=?, direccion=?, telefono=?, dui=? WHERE idAlumno=?';
                        parametros = [this.alumno.codigo, this.alumno.nombre, this.alumno.fechaNacimiento, this.alumno.direccion, 
                            this.alumno.telefono, this.alumno.dui, this.alumno.idAlumno];
                    } else if(this.alumno.accion=="eliminar"){
                        sql = 'DELETE FROM alumnos WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                    }
                    db_sistema.transaction(tx=>{
                            tx.executeSql(sql,
                            parametros,
                            (tx, res)=>{
                                this.nuevoAlumno();
                                this.obtenerAlumnos();
                                this.alumno.mostrar_msg = true;
                                this.alumno.msg = 'Alumno procesado con exito';
                            },
                            (tx, err)=>{
                                this.alumno.mostrar_msg = true;
                                this.alumno.msg = `Error al guardar el alumno: ${err.message}`;
                            });
                        });
                },
                obtenerAlumnos(valor=''){
                    let respuesta = db_sistema.transaction(tx=>{
                        tx.executeSql(`SELECT * FROM alumnos WHERE nombre like "%${valor}%" OR codigo like "%${valor}%" ORDER BY nombre`, [], (index, datos)=>{
                            this.alumnos = [];
                            for(let i=0; i<datos.rows.length; i++){
                                this.alumnos.push(datos.rows[i]);
                            }
                        });
                    });
                },
                nuevoAlumno(){
                    this.alumno.accion = 'nuevo';
                    this.alumno.msg = '';
                    this.alumno.codigo = '';
                    this.alumno.nombre = '';
                    this.alumno.fechaNacimiento = '';
                    this.alumno.direccion = '';
                    this.alumno.telefono = '';
                    this.alumno.dui = '';
                }
            },
            created(){
                db_sistema.transaction(tx=>{
                    tx.executeSql('CREATE TABLE IF NOT EXISTS alumnos(idAlumno INTEGER PRIMARY KEY AUTOINCREMENT, codigo char(10), nombre char(100), fechaNacimiento char(100), direccion TEXT, telefono char(8), dui char(10))');
                }, err=>{
                    console.log(err);
                });
                this.obtenerAlumnos();
            }
        });
    </script>
</body>
</html>